[submodule ".config/hypr"]
	path = .config/hypr
	url = https://github.com/thepython10110/hypr
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/thepython10110/dwm
[submodule ".config/dmenu"]
	path = .config/dmenu
	url = https://github.com/thepython10110/dmenu
[submodule ".config/dwmblocks"]
	path = .config/dwmblocks
	url = https://github.com/thepython10110/dwmblocks
