[submodule "nvim"]
	path = nvim
	url = https://github.com/thepython10110/nvim
[submodule "dwm"]
	path = dwm
	url = https://github.com/thepython10110/dwm
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/thepython10110/dmenu
[submodule "dwmblocks"]
	path = dwmblocks
	url = https://github.com/thepython10110/dwmblocks
[submodule "hyprland"]
	path = hyprland
	url = https://github.com/thepython10110/hyprland
